p{
    font-size: 30px;
    color: black;;
    font-weight: 1000;
    font-family:inherit;
}
body{
    font-family: Roboto;
    background: #373B44;
    /*background: -webkit-linear-gradient(to right, #4286f4, #373B44);*/
    /*background: linear-gradient(to right, #4286f4, #373B44);*/
}
.may-tinh{
    width: 320px;
    height: 520px;
    background-color: #eaedef;
    top: 20px;
    margin: 0 auto;
    position:relative;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.ket-qua{
    height: 120px;
}
.ket-qua-cu{
    text-align: right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    padding-bottom:20px;
    font-size:15px;
    color:#919191;

}
.ket-qua-moi{
    text-align: right;
    height:20px;
    margin:0 20px;
    padding-top:20px;
    font-size:15px;
    color:#919191;

}
.keyboard{
    height: 400px;
}
.system, .number, .trong{
    border-radius: 50%;
    font-size: 13px;
    width:50px;
    height:50px;
    margin: 15px;
    float:left;
    border-width: 0;
    font-weight:bold;
}
.number, .trong {
    background-color: #eaedef;
}
.system:focus, .number:focus, .trong:focus{
    outline: 0;
}
.system, .number{
    cursor: pointer;
}
.system, .trong{
    background-color: #eaedef;
}
.system, .number{
    cursor: pointer;
}
.system:active, .number:active {
    font-size: 13px;
}
.system:focus, .number:focus, .trong:focus{
    outline: 0;
}
button:nth-child(4) {
    font-size: 20px;
    background-color: #20b2aa;
}
button:nth-child(8) {
    font-size: 20px;
    background-color: #ffa500;
}
button:nth-child(12) {
    font-size: 20px;
    background-color: #f08080;
}
button:nth-child(16) {
    font-size: 20px;
    background-color: #7d93e0;
}
button:nth-child(20) {
    font-size: 20px;
    background-color: #9477af;
}

